<div class = "container">
<% if user_signed_in? %>
<h1>My Supplier List</h1>
<% else %>
<h1>Solar and Battery Companies</h1>
<% end %> 



<% if user_signed_in? %>
<%= link_to "List New Battery/Solar Business", new_supplier_path %>
<% end %> 
<table>
    <tr>
        <th> Name </th>
        <th> System Types </th>
        <th> Postcodes Served </th>
    </tr>
    <% @suppliers.each do |supplier| %>
    <tr>
        <td> <%= link_to supplier.display_name, supplier_path(supplier.id) %> </td>
        <td> <%= supplier.system_type.name %> </td>
        <td> <%= supplier.post_code_ranges.map { |p| p.postcode_from_to }.join(", ") %> </td>

    </tr>
    <% end %>
</table>
</div>