<h1>Suppliers</h1>

<%= link_to "New Supplier", new_supplier_path %>

<table>
    <tr>
        <th> Name </th>
        <th> Website </th>
    </tr>
    <% @suppliers.each do |supplier| %>
    <tr>
        <td> <%= supplier.display_name %> </td>
        <td> <%= supplier.website %> </td>
    </tr>
    <% end %>
</table>