<h1> <%= @supplier.display_name %> </h1>
<p>
<%= link_to "Edit",  edit_supplier_path %> 
</p>
<p>
<%= link_to "Delete",  supplier_path, method: :delete, data: { confirm: "Are you sure you want to delete this supplier?"} %>
</p>
